* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
    /* height: 100%; Altura completa del html: 100%: Esto lo hago para que al momento de hacer el footer quede completamente abajo  (Ver: margin-top:auto en footer) */
  }
  
body {
  /* height: 100vh; */
  background-image: url(https://images.cointelegraph.com/cdn-cgi/image/format=auto,onerror=redirect,quality=90,width=1434/https://s3.cointelegraph.com/storage/uploads/view/222ab11206032de218c3aa61bc1bd9a6.jpg);
  background-repeat: repeat;
  background-size: cover;
  z-index: -10;
}

