main {
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;

}

.card {
  display: flex;
  flex-direction: row;
  width: 60vw;
  height: 50vh;
  margin-top: 10vh;
  box-shadow: 10px #f0b0b0;
}
