.detalle {
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #c5636372;
}

/* #cuerpo-secundario-detail{
padding: 10px;
background-color: rgba(164, 139, 152, 0.85);
padding-bottom: 30px;

} */

#datail-card{
  width: 80vw;
}

.card {
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: 50vh;
  margin-top: 10vh;
  box-shadow: 10px #c56363;
  border-radius: 30px;

}

.card img {
  margin: 20px;
  border-radius: 30px;
  box-shadow: 4px 4px 4px #c56363;
}

.card-description {
  font-size: x-large;
}
.card-text {
  font-weight: 500;
}

.card-price {
  font-size: 2rem;
  font-weight: 800;
}

.card-btn {
  font-size: 1.3rem;
  transition-duration: 300ms;
}

.card-btn:hover {
  transform: scale(1.2);
  transition-duration: 300ms !important;
}

@media screen and (max-width: 993px) {
  .detalle {
    flex-direction: column;
  }
  
  .card-detail{
    flex-direction: column !important ;
  }
  .card-detail img{
    width: 100%;
  }
}
