/*-----------------------------------
  portada
-----------------------------------*/

.videoWrapper {
  position: flex;

  padding-bottom: calc(100vh - 30vh);
  /* 16:9 */
  height: 0;
  z-index: -100;
}

.custom-video {
  position: absolute;

  left: 0;
  width: 98%;
  height: 90%;
}

.custom-video {
  object-fit: cover;
  width: 100vw;
  height: 89vh;
}

.overlay {
  background: linear-gradient(to top, #0e000a, transparent 80%);
  position: absolute;
  top: 7vh;
  right: 0;
  bottom: 0;
  left: 0;
}

.titu-text {
  position: absolute;
  z-index: 1;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  text-align: center;
}

.titu-text a {
  text-decoration: none;
}

.titu-text p {
  color: #b183cf;
  font-size: 2rem;
}

.titu-text h1 {
  color: #9a1784;
  text-align: center;
  font-size: 6rem;
}

.titu-text button {
  z-index: 201;
}



.modal-content {
  background-color: #0e000a00;
  min-height: 60vh;
  max-width: 80vw;
  left: 50%;
  transform: translate(-50%, 0);

}
.about-video {
  object-fit: cover;
  min-height: 100%;
  width: 100%;
}

.modal-footer{

}

@media screen and (max-width: 993px) {
  .titu-text {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    text-align: center;
  }
  .titu-text p {
    font-size: 1rem;
  }
  .titu-text h1 {
    font-size: 4rem;
  }
}
